@media screen and (max-width: 1400px) { /*the '@' means it's conditional; 'media screen' is the literal device screen*/
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    
    .aboutContainers {
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 1200px) { /*the '@' means it's conditional; 'media screen' is the literal device screen*/
    #desktopNav{ /*when screen size is lower than 1200px it will only show hamburger menu*/
        display: none;
    }

    #hamburgerNav {
        display: flex;
    }

    #experience, .experienceDetailsContainer {
        margin-top: 2rem;
    }

    #profile, .sectionContainer {
        display: block;
    }

    .arrow {
        display: none;
    }

    section, .sectionContainer {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__picContainer {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .aboutContainers {
        margin-top: 0;
    }
}


@media screen and (max-width: 600px) { 
    #contact, footer {
        height: 40vh;
    }

    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    
    .aboutContainers, .contactInfoUpperContainer,
    .buttonContainer {
        flex-wrap: wrap;
    }

    .contactInfoContainer {
        margin: 0;
    }

    .contactInfoContainer p, .navLinks li a {
        font-size: 1rem;
    }

    .experienceSubTitle {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .navLinks {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
}