@media screen and (max-width: 1200px) { /*the '@' means it's conditional; 'media screen' is the literal device screen*/
    #desktopNav{ /*when screen size is lower than 1200px it will only show hamburger menu*/
        display: none;
    }

    #hamburgerNav {
        display: flex;
    }
}