/* GENERAL*/

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap'); /*importing custom font from google fonts*/

*{
    margin: 0; /*pushes the navigation up, right under the*/
    padding: 0; /*pushes the navigation to the left side of the screen; eliminates bullets*/
}

body {
    font-family: "Prompt", sans-serif; /*'Prompt' is the primary font and 'sans-serif' is the backup font*/
}

html {
    scroll-behavior: smooth; /*making scrolling smooth*/
}

p { /*'p' is for paragraph*/
    color: rgb(red, green, blue);
}

/*TRANSITION*/
a,
.btn { /*'.btn' is for the button*/
    transition: all 300ms ease;
}

/*DESKTOP NAVIGATION*/
nav,
.navLinks {
    display: flex;
}

nav {
    justify-content: space-around; /*spaces out the logo from the nav*/
    align-items: center;
    height: 17vh; /*17 is the percentage; 'vh' stands for view hight*/
}

.navLinks { /*the dot meant to target the HTML class*/
    gap: 2rem; /*'rem' means root element; so 2rem means 2 times the set font size in HTML*/
    list-style: none;
    font-size: 1.5rem;
}

a { /*'a' targets all anchor links so this is the links*/
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/*HAMBURGER MENU*/
#hamburgerNav { /*the '#' is used to target ids in HTML*/
    display: none; /*if in desktop the hamburger menu won't show up*/
}

.hamburgerMenu {
    position: relative;
    display: inline-block;
}

.hamburgerIcon {
    display: flex; /*turns element into flex container*/
    flex-direction: column; /*sets main axis in the flex container*/
    justify-content: space-between; /*controls spacing long main axis*/
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburgerIcon span { /*each span is one bar of the hamburger icon*/
    display: block;
    width: 100%; /*width is already 30px due to the above CSS ruleset*/
    height: 2px; /*each bar will be 2px thick*/
    background-color: black; /*each bar will be black*/
    transition: all 0.3 ease-in-out; /*'all' animates any propery that changes; 0.3 seconds*/
}

.menuLinks {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menuLinks a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menuLinks li {
    list-style: none;
}

.menuLinks.open {
    max-height: 300px;
}

/*open state -> X*/
.hamburgerIcon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburgerIcon.open span:nth-child(2) {
    opacity: 0;
}

.hamburgerIcon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

/*closed state resets*/
.hamburgerIcon span:first-child {
    transform: none;
}

.hamburgerIcon span:nth-child(2) {
    opacity: 1;
}

.hamburgerIcon span:last-child {
    transform: none;
}

/*SECTIONS*/
img {
    border-radius: 50%; /*makes profile picture a circle*/
}

section {
    padding-top: 4vh; /*'vh' means viewport height; 1vh is 1% of the window height*/
    height: 96vh;
    margin: 0 10rem; /*'0' is top and bottom margin; '10rem' is left and right margin*/
    box-sizing: border-box; /**/
    min-height: fit-content;
}

.section__picContainer {
    display: flex;
}

/*PROFILE SECTION*/
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__picContainer {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__textP1 {
    text-align: center;
    color: rgb(53, 53, 53);
}

.section__textP2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: rgb(53, 53, 53);
}

.title {
    font-size: 2.25rem;
    text-align: center;
}

.socialContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

/*BUTTONS*/
.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.buttonColor1,
.buttonColor2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.buttonColor1:hover,
.buttonColor2:hover {
    cursor: pointer;
}

.buttonColor1,
.buttonColor2:hover {
    background: rgb(20, 16, 16);
    color: white;
}

.buttonColor1:hover {
    background: rgb(0, 0, 0);
}

.buttonColor2 {
    background: none;
}

.buttonColor2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.buttonContainer {
    gap: 1rem;
}

/*ABOUT SECTION*/
#about {
    position: relative;
}

.aboutContainers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.aboutDetailsContainer {
    justify-content: center;
    flex-direction: column;
}

.aboutContainers,
.aboutDetailsContainer {
    display: flex;
}

.aboutPic {
    border-radius: 2rem;
}

.arrowIcon {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
    height: 50px;
    width: 50px;
}

.detailsContainer {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.sectionContainer {
    display: flex;
    gap: 4rem;
    height: 80%;
}

.section__picContainer {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/*EXPERIENCE SECTION*/
#experience {
    position: relative; /*had to add this positioning for the arrow icon to work on this section*/
}

.experienceSubTitle {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experienceDetailsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.articleContainer {
    display: flex;
    text-align: initial;
    flex-wrap: wrap; /*wraps text in container*/
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/*PROJECTS SECTION*/