/* GENERAL*/

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap');

*{
    margin: 0; /*pushes the navigation up, right under the*/
    padding: 0; /*pushes the navigation to the left side of the screen; eliminates bullets*/
}

body {
    font-family: "Prompt", sans-serif;
}