/* GENERAL*/

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap'); /*importing custom font from google fonts*/

*{
    margin: 0; /*pushes the navigation up, right under the*/
    padding: 0; /*pushes the navigation to the left side of the screen; eliminates bullets*/
}

body {
    font-family: "Prompt", sans-serif; /*'Prompt' is the primary font and 'sans-serif' is the backup font*/
}

html {
    scroll-behavior: smooth; /*making scrolling smooth*/
}

p { /*'p' is for paragraph*/
    color: rgb(red, green, blue);
}

/*TRANSITION*/
a,
.btn { /*'.btn' is for the button*/
    transition: all 300ms ease;
}

/*DESKTOP NAVIGATION*/
nav,
.navLinks {
    display: flex;
}

nav {
    justify-content: space-around; /*spaces out the logo from the nav*/
    align-items: center;
    height: 17vh; /*17 is the percentage; 'vh' stands for view hight*/
}

.navLinks { /*the dot meant to target the HTML class*/
    gap: 2rem; /*'rem' means root element; so 2rem means 2 times the set font size in HTML*/
    list-style: none;
    font-size: 1.5rem;
}

a { /*'a' targets all anchor links so this is the links*/
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/*HAMBURGER MENU*/
#hamburgerNav { /*the '#' is used to target ids in HTML*/
    display: none; /*if in desktop the hamburger menu won't show up*/
}

.hamburgerMenu {
    position: relative;
    display: inline-block;
}

.hamburgerIcon {
    display: flex; /*turns element into flex container*/
    flex-direction: column; /*sets main axis in the flex container*/
    justify-content: space-between; /*controls spacing long main axis*/
    height: 24px;
    width: 30px;
    cursor: pointer;
}